{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Users/profile.css') }}">
{% endblock %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="Tittle">RÉINITIALISATION DE MOT DE PASSE</h1>

		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Entrez votre adresse e-mail</h2>
			</div>
			<div class="card-body">
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ type }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}

				<form method="post">
					<div class="profile-info">
						<div class="form-group">
							<label for="email">
								<strong>Adresse e-mail :</strong>
							</label>
							<input type="email" id="email" name="email" required class="form-control">
						</div>
					</div>
					<div class="action-buttons">
						<div class="button-group d-flex justify-content-between">
							<button type="submit" class="btn-details flex-grow-1 me-2">
								<i class="fas fa-paper-plane"></i>
								Réinitialisation
							</button>
							<a href="{{ path('app_login') }}" class="btn-details flex-grow-1">
								<i class="fas fa-times"></i>
								Annuler
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
