{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Users/login.css') }}">
{% endblock %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="Title text-center mb-4">Ravis de vous revoir, connectez-vous !</h1>

		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="card">
					<div class="card-header">
						<h2 class="card-title h3 mb-0">Connexion</h2>
					</div>
					<div class="card-body">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="alert alert-info mb-3">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}" class="alert-link">Se déconnecter</a>
							</div>
						{% endif %}

						<form method="post">
							<div class="mb-3">
								<label for="username" class="form-label">Votre Email :</label>
								<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">Votre mot de passe :</label>
								<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="d-grid gap-2">
								<button type="submit" class="btn-details">Connectez-vous</button>
							</div>

							<div class="text-center mt-3">
								<a href="{{ path('app_register') }}" class="text-link" style="color: #370617;">Pas encore inscrit ?</a>
							</div>

							<div class="text-center mt-3">
								<a href="{{ path('app_forgot_password') }}" class="text-link" style="color: #370617;">Mot de passe oublié ?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
