{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Users/newUser.css') }}">
{% endblock %}

{% block title %}Créer un nouveau compte
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="Tittle">RAVI DE TE RENCONTRER, INSCRIS-TOI !</h1>

		<div class="card">
			<div class="card-header">
				<h2 class="card-title">INSCRIPTION</h2>
			</div>
			<div class="card-body">
				{{ form_start(registrationForm) }}
				<div class="form-group">
					{{ form_label(registrationForm.firstname, 'Votre prénom :') }}
					{{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(registrationForm.lastname, 'Votre nom :') }}
					{{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(registrationForm.email, 'Votre Email :') }}
					{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(registrationForm.plainPassword, 'Votre mot de passe :') }}
					{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="action-buttons">
					<button type="submit" class="btn-details">Inscris-toi</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
