{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/showMeeting.css') }}">
{% endblock %}

{% block title %}Créer un nouveau compte
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="Tittle mb-4">Créer un nouveau compte</h1>

		<div class="row">
			<div class="col-lg-8 mb-4">
				<article class="card">
					<div class="card-header">
						<h2 class="card-title h3 mb-0">Inscription</h2>
					</div>
					<div class="card-body">
						{{ form_start(registrationForm) }}
						<div class="form-group">
							{{ form_widget(registrationForm) }}
						</div>
					</div>
					<div class="card-footer">
						<div class="action-buttons">
							<button class="btn btn-details">Enregistrer</button>
						</div>
						{{ form_end(registrationForm) }}
					</div>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
