<footer class="site-footer py-4">
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-12">
				<nav>
					<ul class="footer-nav list-unstyled d-flex flex-wrap justify-content-center mb-0">
						<li class="nav-item me-3">
							<a href="{{ path('app_contact') }}" class="footer-link">Contact</a>
						</li>
						<li class="nav-item me-3">
							<a href="{{ path('app_cookies') }}" class="footer-link">Politique des cookies</a>
						</li>
						<li class="nav-item">
							<a href="{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ path('app_meeting_index') }}{% else %}{{ path('app_login') }}{% endif %}" class="footer-link">Accueil</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="row align-items-start">
			<div class="col-md-6">
				<div class="footer-contact mb-4">
					<p class="mb-2">
						<strong>Nom :</strong>
						Colette
					</p>
					<p class="mb-2">
						<strong>Email :</strong>
						<a href="mailto:colette@reucap.fr" class="footer-link">colette@reucap.fr</a>
					</p>
					<p class="mb-2">
						<strong>Téléphone :</strong>
						<a href="tel:+33608091415" class="footer-link">06 08 09 14 15</a>
					</p>
					<p class="mb-2">
						<strong>Adresse :</strong>
						Ecole Albert Camus, 9 Bis Impasse Albert CAMUS, 42160 ANDREZIEUX BOUTHEON
					</p>
				</div>
				<div
					id="map-footer">
					<!-- Embed Google Maps iframe -->
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.195358573071!2d4.270043776743146!3d45.52627412929411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f44cd18d725a6f%3A0x26d66ab08faf043e!2s9%20Imp.%20Albert%20Camus%2C%2042160%20Andr%C3%A9zieux-Bouth%C3%A9on!5e0!3m2!1sfr!2sfr!4v1731667641672!5m2!1sfr!2sfr" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<div class="col-md-6 d-flex justify-content-center align-items-center" style="min-height: 100%;">
				<a href="{{ is_granted('IS_AUTHENTICATED_FULLY') ? path('app_meeting_index') : path('app_login') }}" class="footer-brand text-decoration-none">
					<img src="{{ asset('images/Logo8.svg') }}" alt="Logo" width="500" height="auto" style="margin-top: 7rem;">
				</a>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-12">
				<p class="mb-1">© 2024 Abdelmadjid CHABANE. Tous droits réservés.</p>
				<p>Ce site, son contenu et sa structure sont protégés par les lois en vigueur sur le droit d'auteur et la propriété intellectuelle.</p>
			</div>
		</div>
	</div>
</footer>
