<nav class="navbar">
	<div class="navbar-container">
		<a href="{{ path('app_meeting_index') }}" class="navbar-brand">
			<img src="{{ asset('assets/images/logo.svg') }}" alt="Logo" class="navbar-logo">
			ACCUEIL
		</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="{{ path('app_meeting_new') }}" class="nav-link">RÉUNIONS +</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_user_profile') }}" class="nav-link">PROFIL</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_logout') }}" class="nav-link">
					<img src="{{ asset('assets/images/deco.png') }}" alt="Déconnexion" class="power-icon">
					DÉCONNEXION
				</a>
			</li>
		</ul>
	</div>
</nav>
