{{ form_start(form) }}
<div class="form-group">
	<div class="form-row">
		<div class="col">
			{{ form_label(form.title) }}
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.title) }}
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			{{ form_label(form.detail) }}
			{{ form_widget(form.detail, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.detail) }}
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			{{ form_label(form.date) }}
			{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.date) }}
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			{{ form_label(form.alternativeDate) }}
			{{ form_widget(form.alternativeDate, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.alternativeDate) }}
		</div>
	</div>
	<div class="form-row">
		<div class="col">
			{{ form_label(form.place) }}
			{{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.place) }}
		</div>
	</div>
</div>
<div class="login-buttons">
	<button class="btn btn-login">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
