{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.card {
			background-color: white;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			width: 100%;
			max-width: 500px;
			padding: 20px;
			margin: 20px auto;
		}

		.card-body {
			text-align: center;
		}

		.card-title {
			font-size: 1.5em;
			margin-bottom: 10px;
		}

		.form-group {
			margin-bottom: 15px;
		}

		.text-center {
			margin-top: 40px;
		}
	</style>
{% endblock %}

{% block title %}Modifier la réunion :
	{{ meeting.title }}
{% endblock %}

{% block body %}
	<section class="meeting-container">
		<h1 class="text-center">Modifier la réunion :

			{{ meeting.title }}</h1>

		<article class="card">
			<div class="card-body">
				<h5 class="card-title">Détails du réunion</h5>

				{{ form_start(form) }}
				<div class="form-group">
					{{ form_widget(form) }}
				</div>
				<button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
				{{ form_end(form) }}

				<div class="text-center">
					<a href="{{ path('app_meeting_show', {'id': meeting.id}) }}" class="btn btn-secondary">Retour à la liste</a>
				</div>
			</div>
		</article>
	</section>
{% endblock %}
