{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Meeting/editMeeting.css') }}">
{% endblock %}

{% block title %}Modifier la réunion :
	{{ meeting.title }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="Tittle">Modifier la réunion :
			{{ meeting.title }}</h1>
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Détails de la réunion</h2>
			</div>
			<div class="card-body">
				{{ form_start(form, {'attr': {'id': 'meeting_form'}}) }}
				<div class="form-group">
					{{ form_label(form.title) }}
					{{ form_widget(form.title) }}
				</div>
				<div class="form-group">
					{{ form_label(form.detail) }}
					{{ form_widget(form.detail) }}
				</div>
				<div class="form-group">
					{{ form_label(form.date) }}
					{{ form_widget(form.date) }}
				</div>
				<div class="form-group">
					{{ form_label(form.alternativeDate) }}
					{{ form_widget(form.alternativeDate) }}
				</div>
				<div class="form-group">
					{{ form_label(form.place) }}
					{{ form_widget(form.place) }}
				</div>
				{{ form_end(form) }}
			</div>
			<div class="card-footer">
				<div class="button-group">
					<button type="submit" form="meeting_form" class="btn-details">
						<i class="fas fa-save"></i>
						Enregistrer les modifications
					</button>
					<a href="{{ path('app_meeting_show', {'id': meeting.id}) }}" class="btn-details">
						<i class="fas fa-arrow-left"></i>
						Retour aux détails
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
