{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Meeting/meeting.css') }}">
{% endblock stylesheets %}

{% block title %}
	Liste des Réunions
{% endblock %}

{% block body %}
	<section class="meeting-container container">
		<h1 class="Title text-center">VOTEZ POUR LES PROCHAINES RÉUNIONS</h1>
		<p class="Description text-center">
			<strong>Vous trouverez ci-dessous la liste des réunions à venir.</strong>
			<strong>Vous pouvez voter pour les dates qui vous conviennent le mieux.</strong>
		</p>
		<div class="meeting-cards row">
			{% for meeting in meetings %}
				<article class="card col-12 col-md-6 col-lg-4 mb-4">
					<div class="card-header">
						<h5 class="card-title">Objet de la réunion :</h5>
						<h2 class="card-subtitle">{{ meeting.title }}</h2>
					</div>
					{# <div class="card-body">
											<h5 class="card-section-title">Détail de la réunion :</h5>
											<p class="card-text">{{ meeting.detail }}</p>
											<p class="card-info">
												<strong>Date principale :</strong>
												{{ meeting.date ? meeting.date|date('d/m/Y') : 'Non définie' }}
											</p>
											{% if meeting.alternativeDate %}
												<p class="card-info">
													<strong>Date alternative :</strong>
													{{ meeting.alternativeDate|date('d/m/Y') }}
												</p>
											{% endif %}
											<p class="card-info">
												<strong>Lieu :</strong>
												{{ meeting.place }}
											</p>
										</div> #}
					<div class="card-footer">
						<a href="{{ path('app_meeting_show', {'id': meeting.id}) }}" class="btn-MeetingDetails flex-grow">VOIR DÉTAILS</a>
					</div>
				</article>
			{% else %}
				<p>Aucune réunion trouvée.</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}
