{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/meeting.css') }}">
{% endblock stylesheets %}

{% block title %}
	Liste des Réunions
{% endblock %}

{% block body %}
	<section class="meeting-container">
		<h1 class="Tittle">VOTE POUR LES PROCHAINES RÉUNIONS</h1>

		<div class="meeting-cards">
			{% for meeting in meetings %}
				<article class="card">
					<div class="card-header">
						<h5 class="card-title">Objet de la réunion :</h5>
						<h2 class="card-subtitle">{{ meeting.title }}</h2>
					</div>
					<div class="card-body">
						<h5 class="card-section-title">Détail de la réunion :</h5>
						<p class="card-text">{{ meeting.detail }}</p>
						<p class="card-info">
							<strong>Date principale :</strong>
							{{ meeting.date ? meeting.date|date('d/m/Y') : 'Non définie' }}
						</p>
						<!-- Correction de la fermeture du paragraphe -->
						{% if meeting.alternativeDate %}
							<p class="card-info">
								<strong>Date alternative :</strong>
								{{ meeting.alternativeDate|date('d/m/Y') }}
							</p>
							<!-- Correction de la fermeture du paragraphe -->
						{% endif %}
						<p class="card-info">
							<strong>Lieu :</strong>
							{{ meeting.place }}
						</p>
						<!-- Correction de la fermeture du paragraphe -->
					</div>
					<div class="card-footer">
						<a href="{{ path('app_meeting_show', {'id': meeting.id}) }}" class="btn-MeetinDetails flex-grow">VOIR DÉTAILS</a>
					</div>

				</article>
			{% else %}
				<p>Aucune réunion trouvée.</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}
