{% extends 'base.html.twig' %}

{% block title %}Réunions et Réservations
{% endblock %}

{% block body %}
	<h1>Réunions et Réservations</h1>

	{% for meeting in meetings %}
		<h2>{{ meeting.title }}</h2>
		<p>Date proposée :
			{{ meeting.date|date('Y-m-d H:i') }}</p>
		{% if meeting.alternativeDate %}
			<p>Date alternative :
				{{ meeting.alternativeDate|date('Y-m-d H:i') }}</p>
		{% endif %}

		{% if meeting.isConfirmed %}
			<p>Date confirmée :
				{{ meeting.confirmedDate|date('Y-m-d H:i') }}</p>
		{% else %}
			<a href="{{ path('app_confirm_meeting', {'id': meeting.id}) }}">Confirmer cette réunion</a>
		{% endif %}

		<h3>Réservations :</h3>
		<ul>
			{% for booking in meeting.bookings %}
				<li>
					{{ booking.user.email }}
					- Date choisie :
					{{ booking.chosenDate|date('Y-m-d H:i') }}
					{% if booking.isConfirmed %}
						(Confirmé)
					{% endif %}
				</li>
			{% else %}
				<li>Aucune réservation pour cette réunion.</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucune réunion trouvée.</p>
	{% endfor %}
{% endblock %}
