{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs | Nom du Site
{% endblock %}

{% block meta %}
	<meta name="description" content="Gérez les utilisateurs enregistrés. Modifiez ou supprimez les comptes utilisateurs si nécessaire.">
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/Meeting/meeting.css') }}">
{% endblock %}

{% block body %}
	<main class="content-wrapper d-flex flex-column min-vh-100">
		<div class="meeting-container">
			<div class="meeting-container__content">
				<h1 class="page-title">Gestion des utilisateurs</h1>
				<p class="description">
					Vous trouverez ci-dessous la liste des utilisateurs enregistrés.
															                    Vous pouvez modifier ou supprimer les utilisateurs si nécessaire.
				</p>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="align-middle">Nom</th>
								<th class="align-middle">Prénom</th>
								<th class="align-middle">Email</th>
								<th class="align-middle">Rôle</th>
								<th class="align-middle text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td class="align-middle">
										<a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-decoration-none">
											{{ user.lastname }}
										</a>
									</td>
									<td class="align-middle">{{ user.firstname }}</td>
									<td class="align-middle">{{ user.email }}</td>
									<td class="align-middle">
										{% if is_granted('ROLE_ADMIN') %}
											<form method="post" action="{{ path('app_user_role_edit', {'id': user.id}) }}" class="d-inline">
												<select name="roles" onchange="this.form.submit()">
													<option value="ROLE_USER" {% if 'ROLE_USER' in user.roles %} selected {% endif %}>Membre</option>
													<option value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.roles %} selected {% endif %}>Administrateur</option>
												</select>
											</form>
										{% else %}
											{{ user.roles ? user.roles|join(', ') : 'Utilisateur' }}
										{% endif %}
									</td>
									<td class="align-middle">
										<div class="d-flex justify-content-center align-items-center h-100">
											<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-meeting-details me-2">Modifier</a>
											<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button type="submit" class="btn btn-sm btn-meeting-details">Supprimer</button>
											</form>
										</div>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5" class="text-center">Aucun utilisateur trouvé.</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="text-center mt-5 mb-4">
					<a href="{{ path('app_user_new') }}" class="btn btn-meeting-details">Créer un nouvel utilisateur</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
