{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/showMeeting.css') }}">
{% endblock %}

{% block title %}Créer un nouveau compte
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="Tittle mb-4">Créer un nouveau compte</h1>

		<div class="row">
			<div class="col-lg-8 mb-4">
				<article class="card">
					<div class="card-header">
						<h2 class="card-title h3 mb-0">Inscris-toi !</h2>
					</div>
					<div class="card-body">
						{{ form_start(form) }}

						{# Affichage des messages flash #}
						{% for flash_error in app.flashes('error') %}
							<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
						{% endfor %}


						<div class="form-group">
							{{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
						</div>

					</div>
					<div class="card-footer">
						<div class="action-buttons">
							<button type="submit" class="btn btn-details">Créer un compte</button>
						</div>
					</div>
					{{ form_end(form) }}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
