{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block title %}Créer un nouveau compte
{% endblock %}

{% block body %}
	<div class="login-container">
		<div class="login-box">
			<div class="login-content">
				<div class="login-header">
					<h1>Bienvenue,
						<strong>Inscris-toi !</strong>
					</h1>
				</div>

				<div class="card-body">
					{{ form_start(form) }}
					<div class="form-group">
						{{ form_widget(form) }}
					</div>

					<div class="login-buttons">
						<button class="btn btn-login">Créer un compte</button>
						<a href="{{ path('app_meeting_index') }}" class="btn btn-signup">Retour à la liste</a>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			<div class="login-image"></div>
		</div>
	</div>
{% endblock %}
