{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ user.firstname }}
{% endblock %}

{% block body %}
	<div class="page1">
		<div class="container1">
			<h1>Profil de
				{{ user.firstName }}</h1>

			<div class="cards2">
				<div class="cards2-header">
					<h2>Détails du profil</h2>
				</div>
				<div class="cards2-body">
					<div class="info">
						<div class="info-item">
							<span class="info-label">ID :</span>
							<span>{{ user.id }}</span>
						</div>
						<div class="info-item">
							<span class="info-label">Email :</span>
							<span>{{ user.email }}</span>
						</div>
						<div class="info-item">
							<span class="info-label">Prénom :</span>
							<span>{{ user.firstname }}</span>
						</div>
						<div class="info-item">
							<span class="info-label">Nom :</span>
							<span>{{ user.lastname }}</span>
						</div>
						<div class="info-item">
							<span class="info-label">Rôles :</span>
							<span>{{ user.roles | join(', ') }}</span>
						</div>
					</div>
				</div>
				<div class="cards2-footer">
					<div class="action-buttons">
						<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn-details">
							<i class="fas fa-edit"></i>
							Modifier mon profil
						</a>
						<a href="{{ path('app_user_index') }}" class="btn-delete">
							<i class="fas fa-list"></i>
							Retour à la liste
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
